<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715631113347-pm7nfb2mtkt9eka6tnmtjjnv0n3mdk4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715631113347-pm7nfb2mtkt9eka6tnmtjjnv0n3mdk4n</string>
	<key>API_KEY</key>
	<string>AIzaSyC4vFZcEngpq-rn1XRILcoJVq9XYmzQCU4</string>
	<key>GCM_SENDER_ID</key>
	<string>715631113347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zooland</string>
	<key>PROJECT_ID</key>
	<string>zooland-ab3b3</string>
	<key>STORAGE_BUCKET</key>
	<string>zooland-ab3b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715631113347:ios:f9943cf21acec35dce57b6</string>
</dict>
</plist>